:root {
    --main-radius: 5px;
    --main-padding: 5px;
    --main-border: rgb(58, 41, 22) solid;
    --main-box-shadow: 0 0 0 0;
    --bg-opacity: 0.75;

    background-color: #836953;
    color: white;
}

body {
    margin: 0;

    text-align: center;
    font-family: Garamond, Georgia, "Times New Roman";
    font-weight: bold;
}

    .container {
        height: 100vh;

        display: grid;
        grid-template-rows: 1fr 6fr;
        grid-template-areas:
            "title"
            "game-info";
        grid-gap: .25rem;
        background: url("/images/playing-cards-svgrepo-com.svg") center/100px fixed;
    }

        #game-title {
            padding: var(--main-padding);
            
            grid-area: title;
            display: flex;
            justify-content: center;
            align-items: center;
            
            background-color: purple;
            border-radius: var(--main-radius);
            border: var(--main-border);
            box-shadow: var(--main-box-shadow);
            opacity: var(--bg-opacity);
        }

        #game-information {
            position: relative;
            
            grid-area: game-info;
            
            background: green;
            border-radius: var(--main-radius);
            border: var(--main-border);
            box-shadow: var(--main-box-shadow);
            opacity: var(--bg-opacity);

            font-size: 1.5rem;
        }
        
            #chips {
                width: fit-content;
                margin: 1vh 1vw;
                padding: var(--main-padding);
                
                grid-area: chips-bets;
                
                background: darkgreen;
                border-radius: var(--main-radius);
            }

            #bets {
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                margin-block: 5vh;

                background-color: darkgreen;
                border-radius: var(--main-radius);
            }

            #dealer-info {
            position: absolute;
            top: 0;
            right: 0;

            margin: 5vh 20vw;
            }

                #dealer-cards {
                    padding: 5%;

                    background-color: darkgreen;
                    border-radius: var(--main-radius) var(--main-radius) 0 0;
                }

                #dealer-sum {
                    height: 1em;

                    background-color:#836953;
                    border-radius: 0 0 var(--main-radius) var(--main-radius);
                }

            #player-info {
            position: absolute;
            bottom: 0;
            left: 0;

            margin: 5vh 20vw;
            }

                #player-cards {
                    padding: 5%;

                    background-color: darkgreen;
                    border-radius: var(--main-radius) var(--main-radius) 0 0;
                }

                #player-sum{
                    height: 1em;

                    background-color:#836953;
                    border-radius: 0 0 var(--main-radius) var(--main-radius);
                }

            #game-buttons {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                
                grid-area: buttons;

                display: flex;
                flex-direction: column;
            }

                button {
                    margin-top: min(1vh, 10px);

                    background-color: #cf3939;
                    color: white;
                    font-size: 1em;
                    font-family: Garamond, Georgia, "Times New Roman";
                    border-radius: var(--main-radius);

                }

                #drawcard-btn, #stand-btn, #playagain-btn, #restart-btn {
                    display: none;
                }

input[type="number"] {
    width: 100%;
}