body {
    background-color: rgb(141, 182, 168);
}

    #container {
        max-width: 500px;
        margin: auto;
    }

        #wordlegrid {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            aspect-ratio: 5/6;
            /* grid-gap: 5px; */
        }

            #wordlegrid > div {
                position: relative;
            }

                #wordlegrid > div > input {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 85%;
                    height: 85%;
                    background-color:rgb(215, 237, 255);
                }


