:root {
    --board-width: 400;
    --kb-width: 600;
    --container-padding: 5;

    --bg-color: rgb(141, 182, 168);
    --text-color: rgb(58, 58, 58);
    --box-color: rgb(215, 237, 255);
    --focus-color: rgb(96, 163, 168);

    --responsiveWidth: 100vw / (var(--board-width) + 2 * var(--container-padding));
    --responsiveHeight: 100vh / 1000; /*doesn't need calc() since it's only used inside min()*/

    height: 100%;
}

@keyframes pump {/*pump animation for when letters is inputed or a box is selected*/
    0% {}
    100% {transform: scale(110%);}
}

.pump-animation {
    animation: pump .1s ease-out;
}

body {
    position: relative;
    height: 100%;
    margin: auto;
    background-color: var(--bg-color);
    color: rgb(58, 58, 58);

    display: flex;
    flex-direction: column;

    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    user-select: none;
    overflow-y: hidden;
}

    h1 {
        margin: 0;
        text-align: center;
        font-size: min(80px, 80 * var(--responsiveWidth), 80 * var(--responsiveHeight));
        line-height: 2.5;
    }

        h1 > span:hover {
            color: rgb(36, 36, 36);
            cursor: pointer;
        }

    #container {
        box-sizing: border-box;
        margin-block: auto;
        padding: 0 calc(var(--container-padding) * 1px) min(200px, 200 * var(--responsiveWidth), 200 * var(--responsiveHeight));

        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        flex-wrap: wrap;
        column-gap: clamp(min(var(--container-padding) * 1px, var(--container-padding) * var(--responsiveHeight)), 5.5vw, 200px);
        row-gap: 15vh;
    }

        #wrapper {
            position: relative;
            width: min(var(--board-width) * 1px, 100%, var(--board-width) * var(--responsiveHeight));
        }

            #wordlegrid {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
                aspect-ratio: 5/6;
                gap: min(10px, 10 * var(--responsiveWidth), 10 * var(--responsiveHeight));
                
                font-size: min(48px, 48 * var(--responsiveWidth), 48 * var(--responsiveHeight));
                font-weight: bold;

                user-select: none;
            }

                #wordlegrid > div {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    line-height: 0;

                    background-color:rgb(215, 237, 255);
                }

            #answer-reveal {
                position: absolute;
                top: 0%;
                left: 50%;
                transform: translate(-50%, -50%);

                opacity: 0;
                visibility: hidden;
                transition: opacity 1s ease-out, top 1.2s cubic-bezier(0,.1,0,1);
            }

                #answer {
                    padding: min(6px, 6 * var(--responsiveWidth), 6 * var(--responsiveHeight)) min(8px, 8 * var(--responsiveWidth), 8 * var(--responsiveHeight));
                    background-color: rgb(215, 237, 255);
                    border-radius: min(4px, 4 * var(--responsiveWidth), 4 * var(--responsiveHeight));

                    text-align: center;
                    font-weight: 600;
                    font-size: min(48px, 48 * var(--responsiveWidth), 48 * var(--responsiveHeight));

                    transition: opacity .2s;
                }

                #answer:hover {
                    opacity: 30%;
                }

        #keyboard {
            width: min(var(--kb-width) * 1px, 100%, var(--kb-width) * var(--responsiveHeight));
        }

            .kbrow {
                display: flex;
                justify-content: center;
            }

                .kbrow > button {
                    width: min(54px, 54 * var(--responsiveWidth), 54 * var(--responsiveHeight));
                    height: min(37.5px, 37.5 * var(--responsiveWidth), 37.5 * var(--responsiveHeight));
                    margin: min(3px, 3 * var(--responsiveWidth), 3 * var(--responsiveHeight));
                    padding: 0;
                    background-color: rgb(215, 237, 255);

                    border: none;
                    border-radius: min(4px, 4 * var(--responsiveWidth), 4 * var(--responsiveHeight));

                    color: rgb(58, 58, 58);
                    text-align: center;
                    font-size: min(29px, 29 * var(--responsiveWidth), 29 * var(--responsiveHeight));
                    font-weight: 600;
                    font-family: inherit;

                    cursor: pointer;
                    transition: transform .1s;
                }

                .kbrow > button[data-key = "Enter"], .kbrow > button[data-key = "Backspace"] {
                    width: min(75px, 75 * var(--responsiveWidth), 75 * var(--responsiveHeight));

                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                    .kbrow > button > svg {
                        width: min(37px, 37 * var(--responsiveWidth), 37 * var(--responsiveHeight));
                        pointer-events: none;
                    }

                .kbrow > button:hover {
                    background-color: rgb(96, 163, 168);
                }

                .kbrow > .green-button {
                    background-color: rgb(119, 223, 162);
                }

                .kbrow > .green-button:hover {
                    background-color: rgb(90, 216, 142);
                }

                .kbrow > .yellow-button {
                    background-color: rgb(255, 255, 204);
                }

                .kbrow > .yellow-button:hover {
                    background-color: rgb(245, 245, 163);
                }

                .kbrow > .red-button {
                    background-color: rgb(245, 132, 132);
                }

                .kbrow > .red-button:hover {
                    background-color: rgb(244, 113, 113);
                }

                .kbrow > button:active {
                    transform: scale(90%);
                }

            #kb1 {
                padding-inline: min(29px, 29 / var(--board-width) * 100vw, 29 * var(--responsiveHeight));
            }

            #kb2 {
                padding-inline: min(9px, 9 / var(--board-width) * 100vw, 9 * var(--responsiveHeight));
            }

    #confetti {
        position: absolute;
        pointer-events: none;
    }