:root {
    --btn-rad-round: 1.5em;
    --btn-border: none;
    --btn-top-margin: 1.4em;
}

body {
    display: grid;
    margin: 0;
    font-family: sans-serif;
}

a {
    cursor: pointer;
}

button {
    border-radius: var(--btn-rad-round);
    border: var(--btn-border);
    font-size: 18px;
    font-weight: bold;
    margin: var(--btn-top-margin) auto auto;
    padding: .7em;
    width: 12.5em;
    color: white;
    background-color: #282A35;
    cursor: pointer;
}

button:hover {
    background-color: black;
}

button:first-child {
    background-color: #04AA6D;
    color: white;
    margin-top: var(--btn-top-margin);
}

button:first-child:hover {
    background-color: #059862;
}

h1 {
    font-size: 4em;
    margin: 0;
    line-height: 1.5625;
}

h2 {
    font-size: 2.75em;
}

p {
    font-size: 19px;
    font-weight: bold;
    margin: 0;
}

.nav-bar {
    font-size: .8em;
    background-color: white;
    color: #282A35;
    display: flex;
    align-items: center;
    padding-inline: .8em;
}

.nav-bar a {
    height: 100%;
    padding-inline: 1em;
    font-size: 1.3em;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-bar .home img {
    filter: brightness(110%);
}

.nav-bar .home img:hover {
    filter: initial;
}

.nav-bar .home:hover {
    color: #059862;
}

.nav-bar span {
    border: black 1px solid;
    border-radius: 2em;
    font-size: .5em;
    color: black;
    background-color: white;
    padding: .4em .8em;
    vertical-align: middle;
}

.nav-bar .menu:hover,
.nav-bar .tutorials:hover,
.nav-bar .references:hover,
.nav-bar .exercises:hover,
.nav-bar .vid-tuts:hover {
    background-color: #04AA6D;
    color: white;
}

@media screen and (min-width: 861px) {
    .nav-bar .menu {
        display: none;
    }
}

@media screen and (max-width: 860px) {
    .nav-bar .tutorials,
    .nav-bar .references,
    .nav-bar .exercises {
        display: none;
    }
}

@media screen and (max-width: 1100px) {
    .nav-bar .vid-tuts {
        display: none;
    }
}

@media screen and (max-width: 1200px) {
    .nav-bar .vid-tuts span {
        display: none;
    }
}

.nav-bar .nav-right {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.nav-bar .nav-right a {
    width: 2em;
    aspect-ratio: 1;
    padding: 0;
    margin-block: 1em;
}

.nav-bar .nav-right a:hover {
    color: #059862;
}

@media screen and (max-width: 600px) {
    .nav-bar .nav-right a:first-of-type {
        display: none;
    }
}

.nav-bar .nav-right .fa-adjust {
    transform: translate(0, -5%) rotate(180deg);
}

.nav-bar .nav-right div {
    display: flex;
    height: 3.1em;
}

.nav-bar .nav-right div button {
    font-size: 1.3em;
    margin: auto .2em;
    width: 7.8em;
}

.nav-bar .nav-right div .website-btn {
    background-color: #FFC0C7;
    color: black;
    width: fit-content;
}

.nav-bar .nav-right div .website-btn span {
    position: relative;
    top: -1px;
}

.nav-bar .nav-right div .courses-btn {
    background-color: inherit;
    color: inherit;
}

.nav-bar .nav-right div .courses-btn:hover,
.nav-bar .nav-right div .website-btn:hover,
.nav-bar .nav-right div .log-in-btn {
    background-color: #04AA6D;
    color: white;
}

.nav-bar .nav-right div .log-in-btn:hover {
    background-color: #059862;
}

@media screen and (max-width: 860px) {
    .nav-bar .nav-right div .website-btn {
        display: none;
    }
}

@media screen and (max-width: 1152px) {
    .nav-bar .nav-right div .website-btn span {
        display: none;
    }
}

@media screen and (max-width: 993px) {
    .nav-bar .nav-right div .courses-btn {
        display: none;
    }
}

@media screen and (max-width: 599px) {
    .nav-bar .nav-right div .log-in-btn {
        font-size: .8em;
        width: 6.5em;
        height: 100%;
        border-radius: 3.5em;
    }
}

.html-con {
    background-color: #282A35;
    color: white;
    text-align: center;
}

.wrapper {
    max-width: 1400px;
    margin: auto;
}

.html-con h1 {
    font-size: 6em;
}

@media screen and (max-width: 768px) {
    .html-con, .css-con, .js-con, .python-con, .sql-con {
        padding-bottom: 6%;
    }
    
    .html-con h1 {
        font-size: 4em;
    }
}

.btn-clm {
    display: flex;
    flex-direction: column;
}

.html-con .text-box .html-btn button:nth-child(2) {
    background-color: #FFF4A3;
    color: black;
    position: relative;
}

.html-con .text-box .html-btn button:nth-child(2):hover {
    background-color: #FFF080;
}

.html-con .text-box .html-btn button span {
    position: absolute;
    background-color: #FFC0C7;
    border-radius: 2em;
    padding: .7em 1.3em;
    top: -20%;
    left: -10%;
    font-size: .75em;
    transform: rotate(-20deg);
}

.html-con .text-box .html-btn button:nth-child(3) {
    background-color: white;
    color: black;
}

.html-con .text-box .html-btn button:nth-child(3):hover {
    background-color: #E7E9EB;
}

.text-box {
    margin: 6% 3%;
}

.ex-con {
    background-color: #E7E9EB;
    color: black;
    margin: 6% 3%;
    border-radius: 0.5em;
    text-align: left;
    padding: 1em;
    box-shadow: 0 .1em .4em 0 hsla(0, 0%, 0%, 0.2);
}

@media screen and (max-width: 600px) {
    .ex-con {
        display: none;
    }
}

@media screen and (min-width: 993px) {
    .html-con .wrapper,
    .css-con .wrapper,
    .js-con .wrapper,
    .python-con .wrapper,
    .sql-con .wrapper{
        display: flex;
        align-items: center;
    }

    .text-box,
    .ex-con {
        width: 50%;
        height: fit-content;
    }
}

.ex-con .ex-code {
    background-color: white;
    padding: .6em;
    border-left: 0.3em #04AA6D solid;
    min-height: 12em;
    font-family: Consolas, Menlo, "courier new", monospace;
}

.ex-con .ex-code p {
    font-weight: normal;
}

.ex-con .try-btn-con {
    margin: 1em auto auto;
}

.ex-con .try-btn-con button {
    margin: auto;
}

.css-con {
    background-color: #D9EEE1;
    text-align: center;
}

.css-con h1 {
    font-size: 6em;
}

@media screen and (max-width: 768px) {
    .css-con h1 {
        font-size: 4em;
    }
}

.js-con {
    background-color: #FFF4A3;
    text-align: center;
}

.python-con {
    background-color: #282A35;
    color: white;
    text-align: center;
}

.python-con .text-box .python-btn button:nth-child(2) {
    background-color: white;
    color: black;
}

.python-con .text-box .python-btn button:nth-child(2):hover {
    background-color: #E7E9EB;
}

.sql-con {
    text-align: center;
}

.others-con-bg {
    background-color: #282A35;
    padding-top: 3em;
}

.others-con-bg .others-con {
    text-align: center;
    border-radius: 0.3em;
    padding-block: 1.5em 2.5em;
    box-shadow: 0 .1em .4em 0 hsla(0, 0%, 0%, 0.2);
    margin: 4% 3%;
}

.others-con-bg .others-con h2 {
    line-height: 1.55;
    margin-block: .23em;
}

.others-con-bg .others-con p {
    margin: .55em 1.2em 1.4em;
}

.others-con-bg .others-con button {
    margin-top: .9em;
}

.others-con-bg .w3css-bs-con .w3css-con p {
    margin-bottom: 3em;
}

.others-con-bg .w3css-bs-con .bootstrap-con {
    display: flex;
    flex-direction: column;
}

.others-con-bg .others-lang-btn {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    padding-block: 2.5em 5em;
}

.others-con-bg .others-lang-btn button {
    color: black;
    font-size: 1.5em;
    border-radius: .2em;
    width: 44%;
    height: 4.7em;
    box-shadow: 0 .1em .4em 0 hsla(0, 0%, 0%, 0.2);
    margin-top: 4%;
}

@media screen and (max-width: 600px) {
    .others-con-bg .others-lang-btn button {
        width: 94%;
    }
}

.others-con-bg .others-lang-btn .others-btn-2 {
    width: 94%;
}

.others-con-bg .others-lang-btn #excel-btn {
    background-color: #04AA6D;
    color: white;
    opacity: 0.9;
}

.others-con-bg .others-lang-btn #excel-btn:hover {
    opacity: 1;
}

.others-con-bg .others-lang-btn .btn-grp-1 {
    background-color: hsla(353, 100%, 88%, 0.9);
}

.others-con-bg .others-lang-btn .btn-grp-1:hover {
    background-color: hsla(353, 100%, 88%, 1);
}

.others-con-bg .others-lang-btn .btn-grp-2 {
    background-color: hsla(53, 100%, 82%, 0.9);
}

.others-con-bg .others-lang-btn .btn-grp-2:hover {
    background-color: hsla(53, 100%, 82%, 1);
}

.others-con-bg .others-lang-btn .btn-grp-3 {
    background-color: hsla(13, 27%, 94%, 0.9);
}

.others-con-bg .others-lang-btn .btn-grp-3:hover {
    background-color: hsla(13, 27%, 94%, 1);
}

.others-con-bg .others-lang-btn .btn-grp-4 {
    background-color: hsla(143, 38%, 89%, 0.9);
}

.others-con-bg .others-lang-btn .btn-grp-4:hover {
    background-color: hsla(143, 38%, 89%, 1);
}

.others-con-bg .others-lang-btn .btn-grp-5 {
    background-color: hsla(180, 42%, 71%, 0.9);
}

.others-con-bg .others-lang-btn .btn-grp-5:hover {
    background-color: hsla(180, 42%, 71%, 1);
}

.others-con-bg .others-lang-btn .btn-grp-6 {
    background-color: hsla(210, 9%, 91%, 0.9);
}

.others-con-bg .others-lang-btn .btn-grp-6:hover {
    background-color: hsla(210, 9%, 91%, 1);
}

@media screen and (min-width: 993px) {
    .others-con-bg .wrapper {
        display: flex;
        flex-wrap: wrap;
    }
    .others-con-bg .others-con {
        width: 44%;
        height: fit-content;
        margin: 3% 3% 1%;
    }

    .others-con-bg .w3css-bs-con {
        display: flex;
        justify-content: center;
        width: 100%;
        margin: auto;
    }

    .others-con-bg .w3css-bs-con .others-con {
        margin: 3% 3% 1%;
        height: auto;
    }

    .others-con-bg .others-lang-btn .others-btn-1 {
        width: 19%;
        margin: 3% 3% 1%;
    }

    .others-con-bg .others-lang-btn .others-btn-2 {
        width: 44%;
        margin: 3% 3% 1%;
    }
}

.others-con-bg .code-ed-con {
    color: white;
    text-align: center;
    margin: auto;
    padding: 2.5em 1.25em 4.6875em;
    width: fit-content;
}

.others-con-bg .code-ed-con h1 {
    line-height: 1;
}

.others-con-bg .code-ed-con p{
    margin-block: 1.3em 1.95em;
}

.others-con-bg .code-ed-con .code-ed {
    background-color: #f1f1f1;;
    border-radius: .3em;
    max-width: 941px;
}

.others-con-bg .code-ed-con .code-ed .code-ed-top {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    padding-block: .8em;
}

.colored-btn {
    display: flex;
    position: absolute;
    left: 1em;
}

.colored-btn .red-circle {
    background-color: #ED594A;
    width: .9em;
    height: .9em;
    display: inline-block;
    border-radius: 50%;
    margin-right: .4em;
}

.colored-btn .yellow-circle {
    background-color: #FDD800;
    width: .9em;
    height: .9em;
    display: inline-block;
    border-radius: 50%;
    margin-right: .4em;
}

.colored-btn .green-circle {
    background-color: #5AC05A;
    width: .9em;
    height: .9em;
    display: inline-block;
    border-radius: 50%;
}

.address-bar {
    width: 60%;
    margin-left: 2.5em;
}

.address-bar input {
    border: none;
    background-color: white;
    width: 100%;
    padding: .2em;
}

.others-con-bg .code-ed-con .code-ed .code-ed-mid {
    font-size: 0;
    text-align: left;
}

.others-con-bg .code-ed-con .code-ed .code-ed-mid button {
    background-color: transparent;
    color: black;
    border-radius: 0;
    font-weight: normal;
    margin: 0;
    width: auto;
    padding: .5em;
}

.others-con-bg .code-ed-con .code-ed .code-ed-mid button:nth-child(2) {
    background-color: #E7E9EB;
}

.others-con-bg .code-ed-con .code-ed .code-ed-mid button:hover {
    background-color: #E7E9EB;
}

.others-con-bg .code-ed-con .code-ed img {
    max-width: 100%;
}

.others-con-bg .code-ed-con .try-code-btn button {
    display: block;
    width: auto;
    border-radius: .3em;
    margin-left: 0;
    padding: .6em 1em;
    margin: 0;
}

.others-con-bg .code-ed-con .try-code-btn button:first-child {
    margin-top: 1em;
    margin-bottom: 1em;
}

.others-con-bg .code-ed-con .try-code-btn button:nth-child(2) {
    background-color: #FFF4A3;
    color: black;
    margin-bottom: 1em;
}

.others-con-bg .code-ed-con .try-code-btn button:nth-child(2):hover {
    background-color: #FFF080;
}

@media screen and (max-width: 600px) {
    .others-con-bg .code-ed-con .try-code-btn button {
        width: 100%;
        text-align: left;
    }
}

.w3spaces-con {
    text-align: center;
    color: white;
    background: url(https://www.w3schools.com/spaces/files/priscilla-du-preez-XkKCui44iM0-unsplash.921aa0c0.jpg) center fixed;
}

.w3spaces-con .w3spaces-wrap {
    background-color: #282A35;
    opacity: .96;
    padding: 5.3125em 1.25em;
}

@media screen and (min-width: 769px) {
    .w3spaces-con h1 {
        font-size: 5em;
    }
}

.w3spaces-con p {
    font-size: 1.5em;
    margin-top: 1em;
}

.w3spaces-con button {
    font-size: 1.2em;
    width: 15.5em;
    padding: .8em;
    margin-block: 2.5em 1.2em;
}

.w3spaces-con img {
    max-width: 100%;
}

@media screen and (max-width: 992px) {
    .w3spaces-con img {
        display: none;
    }
}

.color-picker-con {
    background-color: #F3ECEA;
    text-align: center;
    padding: 5em 1.25em;
}

.color-picker-con h1 {
    line-height: 1;
}

.color-picker-con p {
    margin-top: 1.3em;
}

.color-picker-con img:hover {
    opacity: 60%;
    cursor: pointer;
}

.code-game-con {
    background-color: #96D4D4;
    text-align: center;
    padding-block: 4.0625em 5.1875em;
}

.code-game-con h2 {
    margin: 0;
    line-height: 1.64;
    font-family: cursive;
}

.code-game-con p {
    font-size: 2em;
    font-weight: bold;
    margin-block: -.3125em .8125em;
    font-family: cursive;
}

@media screen and (max-width: 500px) {
    .code-game-con p {
        font-size: 1.5em;
    }
}

.code-game-con img:hover {
    opacity: 60%;
    cursor: pointer;
}

.code-game-con button {
    margin: 0;
}

.e-q-con {
    color: white;
    text-align: center;
    background: #232434 url("images/w3codes.png") center fixed no-repeat;
    padding-block: 2.5em 6em;
}

.e-q-con .wrapper div {
    display: flex;
    justify-content: center;
}

.e-q-con button {
    font-size: 2em;
    border-radius: .15em;
    width: 45%;
    height: 6em;
    margin-inline: 4%;
    padding-block: 2em;
    opacity: 0.97;
}

.e-q-con button:nth-child(2) {
    color: black;
    background-color: #FFF4A3;
}

.e-q-con button:nth-child(2):hover {
    background-color: #FFF080;
}

@media screen and (max-width: 600px) {
    .e-q-con div {
        flex-direction: column;
        align-items: center;
    }

    .e-q-con button {
        width: 80%;
    }
}

.web-templates-con {
    background-color: #E7E9EB;
    text-align: center;
    padding: 2.5em 1.5em 6.75em;
}

.web-templates-con img {
    max-width: 980px;
    display: block;
    margin: 2em auto;
}

.web-templates-con img:hover {
    cursor: pointer;
}

.web-templates-con button {
    width: 50%;
    padding: 1.1em;
    margin: 0;
    border-radius: 1.5em;
}

@media screen and (max-width: 600px) {
    .web-templates-con button {
        width: 100%;
    }
}

.ks-career-con {
    background-color: #282A35;
    color: #FFC0C7;
    padding: 0 3.75em 5em;
    position: relative;
}

.ks-career-con .ks-career-wrap {
    margin: 0;
}

.ks-career-con .ks-career-wrap h2 {
    font-size: 4em;
    margin-block: 1.2em;
}

@media screen and (max-width: 800px) {
    .ks-career-con .ks-career-wrap h2 {
        font-size: 3.5em;
    }
}

.ks-career-con .ks-career-wrap p {
    font-size: 3.5em;
    font-weight: bold;
    line-height: 1.5;
    margin: 1.6em 0 1.2em;
}

.ks-career-con button {
    padding: 1.2em;
    margin: 0;
    display: inline-block;
    border-radius: 3em;
}

@media screen and (max-width: 500px) {
    .ks-career-con .ks-career-wrap p {
        font-size: 2.5em;
    }

    .ks-career-con button {
        width: 100%;
    }
}

.ks-career-con #w3-cert-arrow {
    position: absolute;
    z-index: 1;
    width: 13.75em;
    bottom: 0;
    right: 14.5em;
    transform: rotate(10deg);
}

@media screen and (max-width: 800px) {
    .ks-career-con #w3-cert-arrow {
        display: none;
    }
}

@media screen and (min-width: 992px) {
    .ks-career-con #w3-cert-arrow {
        display: none;
    }
}

@media screen and (min-width: 1156px) {
    .ks-career-con #w3-cert-arrow {
        display: block;
    }
}

.ks-career-con #w3school-sticker {
    width: 13em;
    aspect-ratio: 1;
    background-color: #04AA6D;
    border-radius: 50%;
    position: absolute;
    right: 5%;
    bottom: -12%;
    color: white;
    transform: rotate(15deg);
    font-weight: bold;
}

@media screen and (max-width: 680px) {
    .ks-career-con #w3school-sticker {
        transform: scale(.7) rotate(15deg);
        right: -2%;
        bottom: -16%;
    }
}

@media screen and (max-width: 600px) {
    .ks-career-con #w3school-sticker {
        transform: scale(.5) rotate(15deg);
        right: -7%;
        top: -12%;;
    }
}

.ks-career-con img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: brightness(0) invert(1);
}

.ks-career-con span {
    position: absolute;
    height: 5.5em;
    top: 1em;
    left: 50%;
    transform-origin: bottom center;
}

.ks-career-con #w3school-sticker .bottom-letters {
    display: flex;
    align-items: flex-end;
    padding: initial;
    top: 50%;
    transform-origin: top center;
}

.ks-career-con #w3school-sticker .w {
    transform: translateX(-50%) rotate(-28deg);
}

.ks-career-con #w3school-sticker .three {
    transform: translateX(-50%) rotate(-21deg);
}

.ks-career-con #w3school-sticker .s1 {
    transform: translateX(-50%) rotate(-14deg);
}

.ks-career-con #w3school-sticker .c1 {
    transform: translateX(-50%) rotate(-7deg);
}

.ks-career-con #w3school-sticker .h {
    transform: translateX(-50%);
}

.ks-career-con #w3school-sticker .o1 {
    transform: translateX(-50%) rotate(7deg);
}

.ks-career-con #w3school-sticker .o2 {
    transform: translateX(-50%) rotate(14deg);
}

.ks-career-con #w3school-sticker .l {
    transform: translateX(-50%) rotate(21deg);
}

.ks-career-con #w3school-sticker .s2 {
    transform: translateX(-50%) rotate(28deg);
}

.ks-career-con #w3school-sticker .c2 {
    transform: translateX(-50%) rotate(63deg);
}

.ks-career-con #w3school-sticker .e1 {
    transform: translateX(-50%) rotate(56deg);
}

.ks-career-con #w3school-sticker .r {
    transform: translateX(-50%) rotate(49deg);
}

.ks-career-con #w3school-sticker .t {
    transform: translateX(-50%) rotate(42deg);
}

.ks-career-con #w3school-sticker .i1 {
    transform: translateX(-50%) rotate(35deg);
}

.ks-career-con #w3school-sticker .f {
    transform: translateX(-50%) rotate(28deg);
}

.ks-career-con #w3school-sticker .i2 {
    transform: translateX(-50%) rotate(21deg);
}

.ks-career-con #w3school-sticker .e2 {
    transform: translateX(-50%) rotate(14deg);
}

.ks-career-con #w3school-sticker .d {
    transform: translateX(-50%) rotate(7deg);
}

.ks-career-con #w3school-sticker .dot {
    transform: translateX(-50%) rotate(-14deg);
}

.ks-career-con #w3school-sticker .two1 {
    transform: translateX(-50%) rotate(-35deg);
}

.ks-career-con #w3school-sticker .zero {
    transform: translateX(-50%) rotate(-42deg);
}

.ks-career-con #w3school-sticker .two2 {
    transform: translateX(-50%) rotate(-49deg);
}

.ks-career-con #w3school-sticker .one {
    transform: translateX(-50%) rotate(-56deg);
}

.how-to-section-con {
    text-align: center;
    padding: 7em 1.5em 6em;
}

.how-to-section-con h3 {
    color: #3a3a3a;
    font-size: 1.4em;
}

.how-to-section-con .tv-con-wrap {
    width: fit-content;
    margin: auto;
}

.how-to-section-con .tv-con-wrap .tv-con {
    max-width: 932px;
    background-color: #e3e6e8;
    padding-bottom: .3em;
    border-radius: .3em;
    margin-top: 2em;
}

.how-to-section-con .tv-con-wrap .tv-con .tv-top {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    padding-block: .6em .8em;
    background-color: #f1f1f1;
    border-radius: .3em .3em 0 0;
}

.how-to-section-con .tv-con-wrap .tv-con .img-con {
    background-color: #e3e6e8;
    width: 98.5%;
    margin: .75% auto;
}

.how-to-section-con .tv-con-wrap .tv-con .img-con .img-wrap{
    position: relative;
    color: white;
}

.how-to-section-con .tv-con-wrap .tv-con .img-con .img-wrap .img-txt {
    position: absolute;
}

.how-to-section-con .tv-con-wrap .tv-con .img-con .img-wrap .page-num {
    top: 3%;
    left: 1.5%;
}

.how-to-section-con .tv-con-wrap .tv-con .img-con .img-wrap .arrow-left {
    top: 50%;
    transform: translate(0, -50%);
    transition: background-color 1s;
    cursor: pointer;
    padding: 1em;
    border-radius: 0 .2em .2em 0;
    font-weight: bold;
}

.how-to-section-con .tv-con-wrap .tv-con .img-con .img-wrap .arrow-right {
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    transition: background-color 1s;
    cursor: pointer;
    padding: 1em;
    border-radius: .2em 0 0 .2em;
    font-weight: bold;
}

.how-to-section-con .tv-con-wrap .tv-con .img-con .img-wrap .caption-txt {
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, 0);
}

.how-to-section-con .tv-con-wrap .tv-con .img-con .img-wrap .arrow-left:hover,
.how-to-section-con .tv-con-wrap .tv-con .img-con .img-wrap .arrow-right:hover {
    background-color: hsla(0, 0%, 0%, .8);
}

.how-to-section-con .tv-con-wrap .tv-con .img-con .tv-btn {
    display: flex;
    width: fit-content;
    margin: 1em auto 2em;
}

.how-to-section-con .tv-con-wrap .tv-con .img-con .tv-btn .slide-btn {
    background-color: #bbb;
    width: .9em;
    height: .9em;
    display: inline-block;
    border-radius: 1em;
    margin-inline: .3em;
    transition: background-color .5s;
}

.how-to-section-con .tv-con-wrap .tv-con .img-con .tv-btn .slide-btn:hover {
    cursor: pointer;
    background-color: #717171;
}

.how-to-section-con .tv-con-wrap .tv-con .img-con .tv-btn .first-slide {
    background-color: #717171;
}

.how-to-section-con #tv-leg {
    background-color: #282A35;
    width: 3.1em;
    aspect-ratio: 1/.9;
    margin: auto;
}

@media screen and (min-width: 701px) {
    .how-to-section-con #tv-leg {
        aspect-ratio: 1/1.6;
    }
}

.how-to-section-con button {
    border-radius: 1.4em;
    width: 50%;
    padding: 1em;
    margin: 0 auto;
}

@media screen and (max-width: 600px) {
    .how-to-section-con button {
        width: 100%;
    }
}
.bottom-con {
    background-color: #282A35;
    color: white;
    text-align: center;
    padding-block: 3em;
}

.bottom-con .top-links {
    display: flex;
    flex-direction: column;
    padding: 0 2em 2em;
}

.bottom-con .top-links .btn-con {
    width: fit-content;
    margin: auto auto 1em;
}

.bottom-con .top-links .btn-con button {
    background-color: white;
    color: black;
    border-radius: .3em;
    width: initial;
    margin-top: 1em;
    font-size: 1em;
}

.bottom-con .top-links .btn-con button:nth-child(4) {
    display: block;
    width: 100%; 
    margin-top: 2em;
}

.bottom-con .top-links .btn-con button:hover {
    background-color: #f1f1f1;
}

.bottom-con p {
    font-size: 1em;
    font-weight: normal;
    line-height: 1.5;
    width: 95%;
    margin: auto;
}

.bottom-con .top-links p {
    letter-spacing: .25em;
}

.bottom-con a:hover {
    color: #4CAF50;
}

@media screen and (min-width: 993px) {
    .bottom-con .top-links {
        flex-direction: row;
    }

    .bottom-con .top-links .btn-con {
        display: flex;
        margin: 0;
    }

    .bottom-con .top-links .btn-con button {
        margin-right: .6em;
    }

    .bottom-con .top-links .btn-con button:nth-child(4) {
        width: auto;
        margin-top: 1em;
    }

    .bottom-con .top-links p {
        width: fit-content;
        margin-right: 0;
    }
}

.bottom-con .icon-con {
    display: flex;
    justify-content: right;
    padding-inline: 2em;
}

.bottom-con .icon-con a {
    border-radius: .3em;
    height: 3.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
}

.bottom-con .icon-con a:hover {
    background-color: white;
    color: black;
}

.bottom-con .icon-con a .fab {
    font-size: 1.3em;
    margin-inline: .8em;
}

.bottom-con a .far {
    font-size: 2.3em;
    margin: 1em auto;
}

.bottom-con a .far:hover {
    color: white;
    opacity: 0.60;
}

.bottom-con .w3shop-wrap {
    padding-inline: 1em;
}

.bottom-con .w3shop-wrap a button {
    width: 48%;
    padding: .85em;
    margin: 0;
}

@media screen and (max-width: 600px) {
    .bottom-con .w3shop-wrap a button {
        width: 100%;
    }
}