:root {
    --btn-rad-round: 1.5em;
    --btn-border: none;
    --btn-top-margin: 1.5em;
}

body {
    display: grid;
    grid-template-rows: repeat(7, auto) .4fr repeat(6, .5fr);
    margin: 0;
    overflow-x: hidden;
}

a {
    cursor: pointer;
}

button {
    border-radius: var(--btn-rad-round);
    border: var(--btn-border);
    font-size: 18px;
    margin: var(--btn-top-margin) auto auto;
    padding: .7em;
    width: 12em;
    color: white;
    background-color: #282A35;
    cursor: pointer;
}

button:hover {
    background-color: black;
}

button:first-child {
    background-color: #04AA6D;
    color: white;
    margin-top: var(--btn-top-margin);
}

button:first-child:hover {
    background-color: #059862;
}

h1 {
    font-size: 4em;
    margin: 3% 0;
}

h2 {
    font-size: 2em;
}

p {
    font-size: 19px;
    margin: .2em;
}

.nav-bar {
    font-size: .9em;
    background-color: white;
    color: #282A35;
    display: flex;
    align-items: center;
    padding: 1em .9em;
}

.nav-bar a {
    height: 100%;
    padding: 0 1em;
    font-size: 1.3em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-bar .home img {
    filter: brightness(110%);
}

.nav-bar .home img:hover {
    filter: initial;
}

.nav-bar .home:hover {
    color: #059862;
}

.nav-bar span {
    border: black 1px solid;
    border-radius: 2em;
    font-size: .5em;
    color: black;
    background-color: white;
    padding: .4em .8em;
    vertical-align: middle;
}

.nav-bar .menu:hover,
.nav-bar .tutorials:hover,
.nav-bar .references:hover,
.nav-bar .exercises:hover,
.nav-bar .vid-tuts:hover {
    background-color: #04AA6D;
    color: white;
}

@media screen and (min-width: 861px) {
    .nav-bar .menu {
        display: none;
    }
}

@media screen and (max-width: 860px) {
    .nav-bar .tutorials,
    .nav-bar .references,
    .nav-bar .exercises {
        display: none;
    }
}

@media screen and (max-width: 1100px) {
    .nav-bar .vid-tuts {
        display: none;
    }
}

@media screen and (max-width: 1200px) {
    .nav-bar .vid-tuts span {
        display: none;
    }
}

.nav-bar .nav-right {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.nav-bar .nav-right a {
    width: 2em;
    aspect-ratio: 1;
    padding: 0;
}

.nav-bar .nav-right a:hover {
    color: #059862;
}

@media screen and (max-width: 600px) {
    .nav-bar .nav-right a:first-of-type {
        display: none;
    }
}

.nav-bar .nav-right .fa-adjust {
    transform: translate(0, -5%) rotate(180deg);
}

.nav-bar .nav-right div {
    display: flex;
    height: 3.1em;
}

.nav-bar .nav-right div button {
    font-size: 1.2em;
    margin: auto .2em;
    width: 7.8em;
}

.nav-bar .nav-right div .website-btn {
    background-color: #FFC0C7;
    color: black;
    width: fit-content;
}

.nav-bar .nav-right div .courses-btn {
    background-color: inherit;
    color: inherit;
}

.nav-bar .nav-right div .courses-btn:hover,
.nav-bar .nav-right div .website-btn:hover,
.nav-bar .nav-right div .log-in-btn {
    background-color: #04AA6D;
    color: white;
}

.nav-bar .nav-right div .log-in-btn:hover {
    background-color: #059862;
}

@media screen and (max-width: 860px) {
    .nav-bar .nav-right div .website-btn {
        display: none;
    }
}

@media screen and (max-width: 1152px) {
    .nav-bar .nav-right div .website-btn span {
        display: none;
    }
}

@media screen and (max-width: 993px) {
    .nav-bar .nav-right div .courses-btn {
        display: none;
    }
}

@media screen and (max-width: 599px) {
    .nav-bar .nav-right div .log-in-btn {
        font-size: .8em;
        width: 6.5em;
        height: 100%;
        border-radius: 3.5em;
    }
}

.html-con {
    background-color: #282A35;
    color: white;
    text-align: center;
}

.btn-clm {
    display: flex;
    flex-direction: column;
}

.html-btn button:nth-child(2) {
    background-color: #FFF4A3;
    color: black;
    position: relative;
}

.html-btn button:nth-child(2):hover {
    background-color: #FFF080;
}

.html-btn button span {
    position: absolute;
    background-color: #FFC0C7;
    border-radius: 2em;
    padding: .7em 1.3em;
    top: -20%;
    left: -10%;
    font-size: .75em;
    transform: rotate(-20deg);
}

.html-btn button:nth-child(3) {
    background-color: white;
    color: black;
}

.html-btn button:nth-child(3):hover {
    background-color: #E7E9EB;
}

.text-box {
    margin: 6% 3%;
}

.ex-con {
    background-color: #E7E9EB;
    color: black;
    margin: 6% 3%;
    border-radius: 0.5em;
    text-align: left;
    padding: 1em;
    box-shadow: 0 .1em .4em 0 hsla(0, 0%, 0%, 0.2);
}

@media screen and (max-width: 600px) {
    .ex-con {
        display: none;
    }
}

@media screen and (min-width: 993px) {
    .html-con,
    .css-con,
    .js-con,
    .python-con,
    .sql-con {
        display: flex;
        align-items: center;
    }

    .text-box,
    .ex-con {
        width: 50%;
        height: fit-content;
    }
}

.ex-con .ex-code {
    background-color: white;
    padding: 1%;
    border-left: 0.3em #04AA6D solid;
    min-height: 12em;
}

.ex-con .try-btn-con {
    margin: 1em auto auto;
}

.ex-con .try-btn-con button {
    margin: auto;
}

.css-con {
    background-color: #D9EEE1;
    text-align: center;
}

.js-con {
    background-color: #FFF4A3;
    text-align: center;
}

.python-con {
    background-color: #282A35;
    color: white;
    text-align: center;
}

.python-btn button:nth-child(2) {
    background-color: white;
    color: black;
}

.python-btn button:nth-child(2):hover {
    background-color: #E7E9EB;
}

.sql-con {
    text-align: center;
}

.others-con-bg {
    background-color: #282A35;
    padding-top: 5%
}

.others-con-bg .others-con {
    text-align: center;
    border-radius: 0.5em;
    padding: 1.5em 0;
    box-shadow: 0 .1em .4em 0 hsla(0, 0%, 0%, 0.2);
    margin: 3%;
}

.w3css-bs-con {
    outline: red 1px solid;
}

@media screen and (min-width: 993px) {
    .others-con-bg {
        display: flex;
        flex-wrap: wrap;
    }
    .others-con-bg .others-con {
        width: 44%;
        height: fit-content;
        margin: 3% 3% 1%;
    }

    .others-con-bg .w3css-bs-con {
        display: flex;
        width: 100%;
        height: fit-content;
    }

    .others-con-bg .w3css-bs-con .others-con {
        height: auto;
    }
}

.others-con-bg .others-con button:first-of-type {
    margin-top: var(--btn-top-margin);
}

.others-con-bg .bootstrap-con {
    margin-bottom: 11%;
    display: flex;
    flex-direction: column;
}

.others-con-bg .others-lang-btn {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.others-con-bg .others-lang-btn button {
    color: black;
    border-radius: .5em;
    width: 45%;
    height: 6em;
    box-shadow: 0 .1em .4em 0 hsla(0, 0%, 0%, 0.2);
}

.others-con-bg .others-lang-btn .others-btn-2 {
    width: 95%
}

.others-con-bg .others-lang-btn #excel-btn {
    background-color: #04AA6D;
    color: white;
    opacity: 0.9;
}

.others-con-bg .others-lang-btn #excel-btn:hover {
    opacity: 1;
}

.others-con-bg .others-lang-btn .btn-grp-1 {
    background-color: hsla(353, 100%, 88%, 0.9);
}

.others-con-bg .others-lang-btn .btn-grp-1:hover {
    background-color: hsla(353, 100%, 88%, 1);
}

.others-con-bg .others-lang-btn .btn-grp-2 {
    background-color: hsla(53, 100%, 82%, 0.9);
}

.others-con-bg .others-lang-btn .btn-grp-2:hover {
    background-color: hsla(53, 100%, 82%, 1);
}

.others-con-bg .others-lang-btn .btn-grp-3 {
    background-color: hsla(13, 27%, 94%, 0.9);
}

.others-con-bg .others-lang-btn .btn-grp-3:hover {
    background-color: hsla(13, 27%, 94%, 1);
}

.others-con-bg .others-lang-btn .btn-grp-4 {
    background-color: hsla(143, 38%, 89%, 0.9);
}

.others-con-bg .others-lang-btn .btn-grp-4:hover {
    background-color: hsla(143, 38%, 89%, 1);
}

.others-con-bg .others-lang-btn .btn-grp-5 {
    background-color: hsla(180, 42%, 71%, 0.9);
}

.others-con-bg .others-lang-btn .btn-grp-5:hover {
    background-color: hsla(180, 42%, 71%, 1);
}

.others-con-bg .others-lang-btn .btn-grp-6 {
    background-color: hsla(210, 9%, 91%, 0.9);
}

.others-con-bg .others-lang-btn .btn-grp-6:hover {
    background-color: hsla(210, 9%, 91%, 1);
}

.code-ed-con {
    color: white;
    text-align: center;
    margin: auto;
    padding: 2.5%;
    width: fit-content;
}

.code-ed-con .code-ed {
    background-color: #f1f1f1;;
    border-radius: .3em;
    max-width: 941px;
}

.code-ed-con .code-ed .code-ed-top {
    display: flex;
}

.colored-btn {
    margin: 1em;
}

.colored-btn .red-circle {
    background-color: #ED594A;
    width: 1em;
    height: 1em;
    display: inline-block;
    border-radius: 1em;
}

.colored-btn .yellow-circle {
    background-color: #FDD800;
    width: 1em;
    height: 1em;
    display: inline-block;
    border-radius: 1em;
}

.colored-btn .green-circle {
    background-color: #5AC05A;
    width: 1em;
    height: 1em;
    display: inline-block;
    border-radius: 1em;
}

.address-bar {
    width: 60%;
    margin: .75em auto;
}

.address-bar input {
    border: none;
    background-color: white;
    width: 100%;
    padding: .2em;
}

.code-ed-con .code-ed .code-ed-mid {
    font-size: 0;
    text-align: left;
}

.code-ed-con .code-ed .code-ed-mid button {
    background-color: transparent;
    color: black;
    border-radius: 0;
    margin: 0;
    width: auto;
    padding: .5em;
}

.code-ed-con .code-ed .code-ed-mid button:nth-child(2) {
    background-color: #E7E9EB;
}

.code-ed-con .code-ed .code-ed-mid button:hover {
    background-color: #E7E9EB;
}

.code-ed-con .code-ed img {
    max-width: 100%;
}

.code-ed-con .try-code-btn button {
    display: block;
    width: auto;
    border-radius: .3em;
    margin-left: 0;
    padding: .6em 1em;
    margin: 0;
}

.code-ed-con .try-code-btn button:first-child {
    margin-top: 1em;
    margin-bottom: 1em;
}

.code-ed-con .try-code-btn button:nth-child(2) {
    background-color: #FFF4A3;
    color: black;
    margin-bottom: 1em;
}

.code-ed-con .try-code-btn button:nth-child(2):hover {
    background-color: #FFF080;
}

.color-picker-con {
    text-align: center;
    margin: auto;
}

.color-picker-con h1 {
    margin: 0;
}

.color-picker-con img:hover {
    opacity: 60%;
    cursor: pointer;
}

.code-game-con {
    background-color: #96D4D4;
    text-align: center;
}

.code-game-con img:hover {
    opacity: 60%;
    cursor: pointer;
}

.e-q-con {
    color: white;
    text-align: center;
    background: url("images/w3codes.png") fixed center;
}

.e-q-con div {
    margin-top: 3em;
}

.e-q-con button {
    font-size: 2em;
    border-radius: .2em;
    width: 40%;
    aspect-ratio: 1.25;
    display: inline-block;
    margin: .8em;
}

.e-q-con button:nth-child(2) {
    color: black;
    background-color: #FFF4A3;
}

.e-q-con button:nth-child(2):hover {
    background-color: #FFF080;
}

.web-templates-con {
    text-align: center;
}

.web-templates-con img {
    width: 90%;
    margin: 2em;
}

.web-templates-con img:hover {
    cursor: pointer;
}

.web-templates-con button {
    width: 45%;
    padding: 1.2em;
    border-radius: 1.75em;
}

.ks-career-con {
    background-color: #282A35;
    color: #FFC0C7;
    padding-bottom: 3em;
}

.ks-career-con .ks-career-wrap {
    width: 85%;
    height: auto;
    margin: auto;
}

.ks-career-con button {
    padding: 1.2em;
    margin-top: 3em;
    display: inline-block;
}

.ks-career-con #w3school-sticker {
    width: 13em;
    height: 13em;
    background-color: #04AA6D;
    border-radius: 50%;
    position: absolute;
    right: 2em;
    margin-top: -5em;
    color: white;
    transform: rotate(15deg);
    font-weight: bold;
}

.ks-career-con img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: brightness(0) invert(1);
}

.ks-career-con span {
    position: absolute;
    height: 5.5em;
    top: 1em;
    left: 50%;
    transform-origin: bottom center;
}

.ks-career-con #w3school-sticker .bottom-letters {
    display: flex;
    align-items: flex-end;
    padding: initial;
    top: 50%;
    transform-origin: top center;
}

.ks-career-con #w3school-sticker .w {
    transform: translateX(-50%) rotate(-28deg);
}

.ks-career-con #w3school-sticker .three {
    transform: translateX(-50%) rotate(-21deg);
}

.ks-career-con #w3school-sticker .s1 {
    transform: translateX(-50%) rotate(-14deg);
}

.ks-career-con #w3school-sticker .c1 {
    transform: translateX(-50%) rotate(-7deg);
}

.ks-career-con #w3school-sticker .h {
    transform: translateX(-50%);
}

.ks-career-con #w3school-sticker .o1 {
    transform: translateX(-50%) rotate(7deg);
}

.ks-career-con #w3school-sticker .o2 {
    transform: translateX(-50%) rotate(14deg);
}

.ks-career-con #w3school-sticker .l {
    transform: translateX(-50%) rotate(21deg);
}

.ks-career-con #w3school-sticker .s2 {
    transform: translateX(-50%) rotate(28deg);
}

.ks-career-con #w3school-sticker .c2 {
    transform: translateX(-50%) rotate(63deg);
}

.ks-career-con #w3school-sticker .e1 {
    transform: translateX(-50%) rotate(56deg);
}

.ks-career-con #w3school-sticker .r {
    transform: translateX(-50%) rotate(49deg);
}

.ks-career-con #w3school-sticker .t {
    transform: translateX(-50%) rotate(42deg);
}

.ks-career-con #w3school-sticker .i1 {
    transform: translateX(-50%) rotate(35deg);
}

.ks-career-con #w3school-sticker .f {
    transform: translateX(-50%) rotate(28deg);
}

.ks-career-con #w3school-sticker .i2 {
    transform: translateX(-50%) rotate(21deg);
}

.ks-career-con #w3school-sticker .e2 {
    transform: translateX(-50%) rotate(14deg);
}

.ks-career-con #w3school-sticker .d {
    transform: translateX(-50%) rotate(7deg);
}

.ks-career-con #w3school-sticker .dot {
    transform: translateX(-50%) rotate(-14deg);
}

.ks-career-con #w3school-sticker .two1 {
    transform: translateX(-50%) rotate(-35deg);
}

.ks-career-con #w3school-sticker .zero {
    transform: translateX(-50%) rotate(-42deg);
}

.ks-career-con #w3school-sticker .two2 {
    transform: translateX(-50%) rotate(-49deg);
}

.ks-career-con #w3school-sticker .one {
    transform: translateX(-50%) rotate(-56deg);
}

.how-to-section-con {
    text-align: center;
    padding-top: 8em;
}

.how-to-section-con h3 {
    color: #3a3a3a;
    font-size: 1.4em;
}

.how-to-section-con .tv-con {
    width: 92%;
    margin: auto;
    background-color: #e3e6e8;
    padding-bottom: .3em;
    border-radius: .3em;
    margin-top: 2em;
}

.how-to-section-con .tv-con .tv-top {
    display: flex;
    background-color: #f1f1f1;
    border-radius: .3em;
}

.how-to-section-con .tv-con .img-con {
    background-color: #e3e6e8;
    width: 98%;
    aspect-ratio: 1/.5;
    margin: 1% auto 0;
}

.how-to-section-con .tv-con .img-con .img-wrap{
    position: relative;
    color: white;
}

.how-to-section-con .tv-con .img-con .img-wrap .img-txt {
    position: absolute;
}

.how-to-section-con .tv-con .img-con .img-wrap .page-num {
    top: 3%;
    left: 1.5%;
}

.how-to-section-con .tv-con .img-con .img-wrap .arrow-left {
    top: 50%;
    transform: translate(0, -50%);
    transition: background-color 1s;
    cursor: pointer;
    padding: 1em;
    border-radius: 0 .2em .2em 0;
    font-weight: bold;
}

.how-to-section-con .tv-con .img-con .img-wrap .arrow-right {
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    transition: background-color 1s;
    cursor: pointer;
    padding: 1em;
    border-radius: .2em 0 0 .2em;
    font-weight: bold;
}

.how-to-section-con .tv-con .img-con .img-wrap .caption-txt {
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, 0);
}

.how-to-section-con .tv-con .img-con .img-wrap .arrow-left:hover,
.how-to-section-con .tv-con .img-con .img-wrap .arrow-right:hover {
    background-color: hsla(0, 0%, 0%, .8);
}

.how-to-section-con .tv-con .img-con .tv-btn {
    display: flex;
    width: fit-content;
    margin: 1.2em auto;
}

.how-to-section-con .tv-con .img-con .tv-btn .slide-btn {
    background-color: #bbb;
    width: 1em;
    height: 1em;
    display: inline-block;
    border-radius: 1em;
    margin-inline: .3em;
    transition: background-color .5s;
}

.how-to-section-con .tv-con .img-con .tv-btn .slide-btn:hover {
    cursor: pointer;
    background-color: #717171;
}

.how-to-section-con .tv-con .img-con .tv-btn .first-slide {
    background-color: #717171;
}

.how-to-section-con .tv-leg {
    background-color: #282A35;
    width: 8%;
    aspect-ratio: 1/.9;
    margin: auto;
}

.how-to-section-con button {
    width: 45%;
    padding: 1.2em;
}

.bottom-con {
    background-color: #282A35;
    color: white;
    text-align: center;
}

.bottom-con .btn-con {
    width: 70%;
    margin: 1em auto;
}

.bottom-con .btn-con button {
    background-color: white;
    color: black;
    border-radius: .3em;
    width: initial;
    font-size: 1em;
}

.bottom-con .btn-con button:hover {
    background-color: #f1f1f1;
}

.bottom-con .btn-con .first-btn-row-con {
    width: fit-content;
    margin: 3em auto .8em;
}

.bottom-con .btn-con .second-btn-row {
    display: block;
    width: 20em;
    margin: auto;
}

.bottom-con p {
    width: 95%;
    margin: auto;
}

.bottom-con a:hover {
    color: #4CAF50;
}

.bottom-con .icon-con {
    display: flex;
    justify-content: right;
    padding: 1em 2em;
}

.bottom-con .icon-con a {
    border-radius: .3em;
    height: 3.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.bottom-con .icon-con a:hover {
    background-color: white;
    color: black;
}

.bottom-con .icon-con a .fab {
    font-size: 1.3em;
    margin-inline: .8em;
}

.bottom-con a .far {
    font-size: 2.3em;
    margin: 1em auto .5em;
}

.bottom-con a .far:hover {
    color: white;
    opacity: 0.60;
}

.bottom-con a button {
    width: 17em;
    padding: .9em;
}